.store{
    background-image: url(../components/images/lightelement.png);
    height: 150px;
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;

    &-header{
        display:grid;
        justify-items: center;
        align-items: center;
    };

    &-title{
        padding: 8px;
        color: white;
        background-color: black;
        };
}