.store{
    background-image: url(../components/images/lightelement.png);
    height: 150px;
    h1{
        color: white;
        background-color: black;
    }
    h2{
        color: white;
        background-color: black;
        background-size: 0px 35px;
    }
}