.store{
    background-image: url(../components/images/lightelement.png);
    height: 150px;
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;

    &-header{
        display:grid;
        justify-items: center;
        align-items: center;
    }

    &-title{
        padding: 8px;
        color: white;
        background-color: black;
    }


    &-item-wrapper {
    
        &-items{ display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            &-spellbook{
                &-img{
                    width: 20px;
                    height: 50px;
                }
            }
        }
    
    } 
        
    
}

